<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agriculturehelpline"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.agriculturehelpline.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.agriculturehelpline.a"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.A" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name="com.example.agriculturehelpline.b"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.B" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
            <activity
            android:name="com.example.agriculturehelpline.c"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.C" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>
        
  
</manifest>
